* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-size: 15px;
  font-family: "Lexend Deca", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: hsl(233, 47%, 7%);
}
.container {
  max-width: 96%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  /* border: 10px solid darkgoldenrod; */
  /* flex-wrap: wrap-reverse; */
}
.image-container {
  width: 250px;
  height: 250px;
  /* background-image: linear-gradient(
      rgba(133, 24, 200, 0.65),
      rgba(119, 63, 152, 0.75)
    ),
    url("./images/image-header-desktop.jpg"); */
  /* border: 2px solid green;
  background-repeat: no-repeat;
  background-size: cover;
  border-top-right-radius: 1rem;
  border-bottom-right-radius: 1rem; */
}

.info-container {
  /* border: 1px solid blue; */
  background-color: #1c1938;
  width: 48%;
  padding: 4rem 5rem;
  border-top-left-radius: 1rem;
  border-bottom-left-radius: 1rem;
}
.info-container h1 {
  font-family: "Inter", sans-serif;
  font-size: 2rem;
  margin-bottom: 1.5rem;
  color: hsl(0, 0%, 100%);
  line-height: 1.5;
}
.stats-container {
  display: flex;
  /* flex-wrap: wrap; */
  align-content: center;
  gap: 2rem;
  color: hsl(0, 0%, 100%);
}
.stats-container .stats {
  flex-grow: 1;
}
.info-container p {
  margin-bottom: 3rem;
  color: hsla(0, 0%, 100%, 0.75);
  /* word-spacing: 0.15rem; */
  line-height: 1.6;
}
.stats h3 {
  margin-bottom: 0.35rem;
  font-size: 1.45rem;
  font-family: "Inter", sans-serif;
}
.stats p {
  text-transform: uppercase;
  color: hsla(0, 0%, 100%, 0.75);
  margin-bottom: 0;
  font-size: 0.8rem;
}
.insights {
  color: #9a5fc3;
}
@media only screen and (max-width: 600px) {
  .container {
    max-width: 96%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    /* border: 10px solid darkgoldenrod; */
    /* flex-wrap: wrap-reverse; */
  }
  .image-container {
    background-image: linear-gradient(
        rgba(133, 24, 200, 0.65),
        rgba(119, 63, 152, 0.75)
      ),
      url("./images/image-header-desktop.jpg");
    width: 48%;
    background-repeat: no-repeat;
    background-size: cover;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }

  .info-container {
    /* border: 1px solid blue; */
    background-color: #1c1938;
    width: 48%;
    padding: 4rem 5rem;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
  }
}
